<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<title>Periodic</title>
<style>
.form-check-input:checked {
    background-color: mediumaquamarine;
    border-color: mediumaquamarine;
}
.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='red'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='pink'/%3e%3c/svg%3e");
}
.form-control::placeholder{
  color: #ffbbbb;
}

</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="bi <% if @session.local? %>bi-toggle-off<%else%>bi-toggle-on<%end%>"></i> Periodic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/app/edit/">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%=href('logout', {}, context)%>>Switch user</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<main>

<div class="container">
<% path = context.req.path_info %>
<% if @session.tw_user_id.nil? %>
  <%= @login.to_html(context) %>
<% elsif path == '/edit/' %>
  <%= @edit.to_html(context) %>
<% else %>
  <%= @list.to_html(context) %>
<% end %>
</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.js" integrity="sha512-Fc8SDJVBwajCGX0A9z8lBeRPaCjR25Ek577z9PtQLB7CLBz7Mw1XhjbcD2yDWrGszL/uezKGidtGCng6Fhz3+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
const sortElement = document.getElementById('sort-table');
if (sortElement) {
  var sortable = Sortable.create(sortElement, {
    handle: '.handle',
    filter: '.sort-ignore',
    onChange: function(/**Event*/evt) {
      console.log(this.toArray());
      fetch('/app/api/', {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ op: 'order', order: this.toArray()})
      })
      .then(response => response.json())
      .then(data => {
        if (data['data']) {
          localStorage.setItem("periodical", data['data'])
        }
        console.log('Success:', data);
      })
      .catch((error) => {
        console.log('Error:', error);
      });
    }
  });
}

function add_text(e) {
  data = {
    op: 'add',
    title: e.value
  }

  fetch('/app/api/', {
    method: 'POST', // or 'PUT'
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  })
  .then(response => response.json())
  .then(data => {
    if (data['data']) {
      localStorage.setItem("periodical", data['data'])
    }
    console.log('Success:', data);
    window.location.href = "/app/edit/#text-add";
    window.location.reload(true);
  })
  .catch((error) => {
    console.log('Error:', error);
  });
}

function update_text(e) {
  data = {
    op: 'update',
    id: e.dataset.id,
    title: e.value
  }

  fetch('/app/api/', {
    method: 'POST', // or 'PUT'
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  })
  .then(response => response.json())
  .then(data => {
    if (data['data']) {
      localStorage.setItem("periodical", data['data'])
    }

    console.log('Success:', data);
    if (e.value == '') {
      console.log('will remove');
      e.parentElement.parentElement.remove();
    }
    if (data.title) {
      e.value = data.title;
    }
  })
  .catch((error) => {
    console.log('Error:', error);
  });
}

function update_check_with_local() {
  let checked = JSON.parse(localStorage.getItem('periodical'))["checked"];
  document.querySelectorAll('input[data-title]').forEach(that => {that.checked =  checked[that.dataset.title] ? true : false})
}

function check_item(e) {
  data = {
    op: 'check',
    title: e.dataset.title,
    value: e.checked
  }
  console.log(e);

  fetch('/app/api/', {
    method: 'POST', // or 'PUT'
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
    if (data['data']) {
      localStorage.setItem("periodical", data['data']);
      update_check_with_local();
    }
    if (data.status == 'login') {
      console.log('login please')
      window.location.href = "/app?error";
    }
  })
  .catch((error) => {
    console.log('Error:', error);
  });
}

function check_tags(e) {
  const tags = Array.from(e.parentElement.querySelectorAll(".periodic-check:checked")).map(e=> e.dataset.tag);

  data = {
    op: 'tags',
    id: e.dataset.id,
    tags: tags
  }
  console.log(e);

  fetch('/app/api/', {
    method: 'POST', // or 'PUT'
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
    if (data['data']) {
      localStorage.setItem("periodical", data['data'])
    }
  })
  .catch((error) => {
    console.log('Error:', error);
  });
}

function show_item_with_tag(tag) {
  Array.from(document.querySelectorAll(".periodic-item:not(.periodic-tag-" + tag + ")")).map(x=>x.classList.add('d-none'));
  Array.from(document.querySelectorAll(".periodic-item.periodic-tag-" + tag)).map(x=>x.classList.remove('d-none'));
}

function set_tag(e) {
  const tag = document.querySelector(".periodic-tag:checked").dataset.tag;
  if (tag) {
    //show_item_with_tag(tag);
    window.location.hash = ("#" + tag);
  }
}

function login_local() {
  data = {
    op: 'login_local',
    data: localStorage.getItem("periodical")
  }

  fetch('/app/api/', {
    method: 'POST', // or 'PUT'
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
    window.location.reload(true);
  })
  .catch((error) => {
    console.log('Error:', error);
  });
}

var hash_tag = window.location.hash.substr(1);
if (["0", "1", "2", "3", "4", "5"].includes(hash_tag)) {
  document.querySelector("input#btncheck" + hash_tag).checked = true;
  show_item_with_tag(hash_tag);
}

window.addEventListener('hashchange', function() {
  var hash_tag = window.location.hash.substr(1);
  if (["0", "1", "2", "3", "4", "5"].includes(hash_tag)) {
  document.querySelector("input#btncheck" + hash_tag).checked = true;
  show_item_with_tag(hash_tag);
}
}, false);

</script>
</body>
</html>
