<div class="container">
  <div class="list-group list-group-flush">
    <div class="container list-group-item list-group-item-action sort-ignore">
      <div class="input-group mb-2">
        <input id="text-add" class="periodic-text form-control" placeholder="create a TODO" type="text" value="" onchange="add_text(this)">
      </div>
      <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
        <div class="input-group">
          <button type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-plus-lg"></i></button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="list-group list-group-flush" id="sort-table">
    <% list(context).each do |it| %>
    <div class="container list-group-item list-group-item-action" data-id="<%= it.id_str %>">

      <div class="input-group mb-2">
        <input data-id="<%= it.id_str %>" id="text-<%= it.id_str %>" class="periodic-text form-control" placeholder="will remove" type="text" value="<%=h it.title %>" onchange="update_text(this)">
      </div>

      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group periodic-form" role="group" aria-label="Basic checkbox toggle button group">
          <% @session.tags.to_a.each_with_index do |icon, n| %>
          <input type="checkbox" <% if it.tags.include?(n) %>checked<% end %> class="btn-check periodic-check" id="btncheck<%= n %>-<%= it.id_str %>" autocomplete="off" data-id="<%= it.id_str %>" data-tag="<%= n %>" onchange="check_tags(this)">
          <label class="btn btn-sm btn-outline-danger" for="btncheck<%= n %>-<%= it.id_str %>"><%= icon %></label>
          <% end %>
        </div>
        <div class="input-group">
          <button type="button" class="handle btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-down-up"></i></button>
        </div>
      </div>
      
    </div>
    <% end %>
  </div>

</div>
