<div class="container">
    <div class="list-group list-group-flush" id="sort-table">
      <% list(context).each_with_index do |w, i| %>
      <div class="container list-group-item list-group-item-action" data-id="R<%= i %>">

        <div class="input-group mb-2">
          <input id="text-<%= i %>" class="periodic-text form-control" placeholder="Not entered" type="text" value="<%=h w %>" onchange="update_text(this)">
        </div>

        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <% @session.tags.to_a.each_with_index do |icon, n| %>
            <input type="checkbox" class="btn-check" id="btncheck<%= n %>-<%= i %>" autocomplete="off">
            <label class="btn btn-sm btn-outline-danger" for="btncheck<%= n %>-<%= i %>"><%= icon %></label>
            <% end %>
          </div>
          <div class="input-group">
            <button type="button" class="handle btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-down-up"></i></button>
          </div>
        </div>
        
      </div>
      <% end %>
    </div>
</div>
