<div class="container">
  <div class="m-1 row">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <% @session.tags.to_a.each_with_index do |icon, n| %>
      <input type="radio" class="btn-check periodic-tag" name="tabs" id="btncheck<%= n %>" data-tag="<%= n %>" autocomplete="off" onchange="set_tag(this)">
      <label class="btn btn-outline-danger" for="btncheck<%= n %>"><%= icon %></label>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="list-group list-group-flush" id="stock">
      <% list(context).each do |it, checked| %>
      <div class="d-flex w-100 justify-content-between list-group-item list-group-item-action <%= it.tag_classlist%> periodic-item" data-id="<%= it.id_str %>">
        <div>
          <span><%=h it.title %></span>
        </div>
        <div class="form-check form-switch">
          <input <% if checked %>checked<% end %> class="form-check-input" type="checkbox" id="list-tr-<%=h it.id_str %>" data-title="<%=h it.title %>" onchange="check_item(this)">
        </div>    
      </div>
      <% end %>
    </div>
  </div>
</div>
